modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "node server.js & npm start"

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 4001
externalPort = 3001
